<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" th:href="@{/image/Bluemoon_FavIcon.png}">
    <link rel="stylesheet" th:href="@{/css/carousel.css}">
    <title>Bluemoon - Ugú Informática</title>
</head>
<body style="background-color: #eee;">

<div th:replace="~{fragments/navbar :: navbar(user=${user})}"></div>

<!-- Website content here -->
<div>
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-4 font-weight-normal">Ugú Informática</h1>
            <p class="lead font-weight-normal">The developers behind Bluemoon. Making your apps a reality.</p>
            <button class="btn btn-outline-secondary" onclick="scrollToBottom()">Contact Us</button>
            <script>
                // Function to scroll to the bottom of the page
                function scrollToBottom() {
                    window.scrollTo(0, document.body.scrollHeight);
                }
            </script>
        </div>
        <div class="product-device box-shadow d-none d-md-block"></div>
        <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="container marketing">

        <hr class="featurette-divider pb-0 mb-0">

        <div class="row text-center p-5">
            <h1 class="display-6 font-weight-normal">Our Team</h1>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <img class="rounded-circle" th:src="@{/image/dev/oscar.png}" alt="Oscar's Image" width="140" height="140">
                <h2>Oscar</h2>
                <p>Multiplatform app developer adept at React Native and Flutter frameworks, skilled in implementing Agile methodologies for rapid development cycles. He specializes in integrating Odoo for seamless business operations.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <img class="rounded-circle" th:src="@{/image/dev/pedro.png}" alt="Pedro's Image" width="140" height="140">
                <h2>Pedro</h2>
                <p>Multiplatform app developer proficient in Xamarin and Ionic frameworks, known for his expertise in Agile project management methodologies such as Scrum and Kanban. He excels in Odoo customization and module development to streamline business processes.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <img class="rounded-circle" th:src="@{/image/dev/raul.png}" alt="Raúl's Image" width="140" height="140">
                <h2>Raúl</h2>
                <p>Experienced multiplatform developer with a focus on Swift for iOS and Kotlin for Android. He is well-versed in Agile methodologies, particularly Lean Startup principles, and has a knack for Odoo ERP customization and integration.</p>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-3">
                <img class="rounded-circle" th:src="@{/image/dev/javier.png}" alt="Javier's Image" width="140" height="140">
                <h2>Javier</h2>
                <p>Versatile multiplatform developer skilled in React Native for cross-platform development and Flutter for UI-rich applications. He is proficient in Agile workflows like Extreme Programming (XP) and Test-Driven Development (TDD), and has deep expertise in Odoo for ERP system configuration and deployment.</p>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->


        <!-- START THE FEATURETTES -->

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Commitment to sustainability. </h2>
                <p class="lead">
                    Affordable Energy: Transforming solar energy into
                    sustainable and accessible technological solutions.
                </p>
                <p class="lead">
                    Health and Wellness: Channeling part of our company's income
                    towards NGOs, particularly MSF, to provide vaccines for
                    life-threatening diseases to children in underdeveloped
                    or war-affected countries.
                </p>
                <p class="lead">
                    Eco-Friendly Packaging: Implementing recyclable and biodegradable
                    packaging materials for our products to minimize environmental impact
                    and promote sustainability throughout the supply chain.
                </p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" th:src="@{/image/sustainability.png}" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18d79e9394c%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18d79e9394c%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7 order-md-2">
                <h2 class="featurette-heading">Development experience. </h2>
                <p class="lead">Our IT team boasts a diverse and extensive skill set, with proficiency across various technologies and platforms. With years of hands-on experience, our team excels in Odoo, the powerful business management software, adept at crafting tailored solutions to streamline operations and enhance efficiency. Additionally, our expertise extends to Android Studio and Java, enabling us to develop robust and intuitive Android applications that meet the evolving needs of our clients. Moreover, our proficiency in Spring and Spring Security empowers us to build scalable and secure web applications, ensuring data integrity and user privacy. With a proven track record of successful projects, our team stands ready to leverage its multifaceted knowledge to drive innovation and deliver exceptional results.</p>
            </div>
            <div class="col-md-5 order-md-1">
                <img class="featurette-image img-fluid mx-auto" th:src="@{/image/development.png}" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18d79e9394e%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18d79e9394e%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="row featurette">
            <div class="col-md-7">
                <h2 class="featurette-heading">Stability first.</h2>
                <p class="lead">
                    Our team follows Agile practices, prioritizing collaboration, adaptability, and delivering incremental value. Through regular meetings and iterative development cycles, we ensure transparency, responsiveness, and continuous improvement. This approach allows us to quickly adapt to change, incorporate feedback, and deliver stable software solutions that meet customer needs effectively.</p>
            </div>
            <div class="col-md-5">
                <img class="featurette-image img-fluid mx-auto" th:src="@{/image/safety.png}" alt="500x500" style="width: 500px; height: 500px;" src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22500%22%20height%3D%22500%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20500%20500%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_18d79e9394f%20text%20%7B%20fill%3A%23AAAAAA%3Bfont-weight%3Abold%3Bfont-family%3AArial%2C%20Helvetica%2C%20Open%20Sans%2C%20sans-serif%2C%20monospace%3Bfont-size%3A25pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_18d79e9394f%22%3E%3Crect%20width%3D%22500%22%20height%3D%22500%22%20fill%3D%22%23EEEEEE%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22185.1171875%22%20y%3D%22261.1%22%3E500x500%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E" data-holder-rendered="true">
            </div>
        </div>

        <hr class="featurette-divider">

        <!--Section: Contact v.2-->
        <section class="mb-4">

            <!--Section heading-->
            <h2 class="h1-responsive font-weight-bold text-center my-4">Contact us</h2>
            <!--Section description-->
            <p class="text-center w-responsive mx-auto mb-5">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within
                a matter of hours to help you.</p>

            <div class="row">

                <!--Grid column-->
                <div class="col-md-9 mb-md-0 mb-5">
                    <form id="contact-form" name="contact-form" action="mail.php" method="POST">

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="name" name="name" class="form-control">
                                    <label for="name" class="">Your name</label>
                                </div>
                            </div>
                            <!--Grid column-->

                            <!--Grid column-->
                            <div class="col-md-6">
                                <div class="md-form mb-0">
                                    <input type="text" id="email" name="email" class="form-control">
                                    <label for="email" class="">Your email</label>
                                </div>
                            </div>
                            <!--Grid column-->

                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="md-form mb-0">
                                    <input type="text" id="subject" name="subject" class="form-control">
                                    <label for="subject" class="">Subject</label>
                                </div>
                            </div>
                        </div>
                        <!--Grid row-->

                        <!--Grid row-->
                        <div class="row">

                            <!--Grid column-->
                            <div class="col-md-12">

                                <div class="md-form">
                                    <textarea type="text" id="message" name="message" rows="2" class="form-control md-textarea"></textarea>
                                    <label for="message">Your message</label>
                                </div>

                            </div>
                        </div>
                        <!--Grid row-->

                    </form>

                    <div class="text-center text-md-left">
                        <a class="btn btn-primary">Send</a>
                    </div>
                    <div class="status"></div>
                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-md-3 text-center">
                    <ul class="list-unstyled mb-0">
                        <li><i class="fas fa-map-marker-alt fa-2x"></i>
                            <p>Castellón de la Plana, CS 12540, Spain</p>
                        </li>

                        <li><i class="fas fa-phone mt-4 fa-2x"></i>
                            <p>+ 01 234 567 89</p>
                        </li>

                        <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                            <p>contact@uguinformatica.com</p>
                        </li>
                    </ul>
                </div>
                <!--Grid column-->

            </div>

        </section>
        <!--Section: Contact v.2-->

        <hr class="featurette-divider">

        <footer class="container py-5">
            <div class="row">
                <div class="col-12 col-md">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="d-block mb-2"><circle cx="12" cy="12" r="10"></circle><line x1="14.31" y1="8" x2="20.05" y2="17.94"></line><line x1="9.69" y1="8" x2="21.17" y2="8"></line><line x1="7.38" y1="12" x2="13.12" y2="2.06"></line><line x1="9.69" y1="16" x2="3.95" y2="6.06"></line><line x1="14.31" y1="16" x2="2.83" y2="16"></line><line x1="16.62" y1="12" x2="10.88" y2="21.94"></line></svg>
                    <small class="d-block mb-3 text-muted">© 2023-2024</small>
                </div>
                <div class="col-6 col-md">
                    <h5>Features</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="">App development</a></li>
                        <li><a class="text-muted" href="">Web development</a></li>
                        <li><a class="text-muted" href="">AGILE workflow</a></li>
                        <li><a class="text-muted" href="">Odoo modules</a></li>
                        <li><a class="text-muted" href="">Work from home</a></li>
                        <li><a class="text-muted" href="">Company culture</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>Resources</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="">Business</a></li>
                        <li><a class="text-muted" href="">Education</a></li>
                        <li><a class="text-muted" href="">Government</a></li>
                        <li><a class="text-muted" href="">Gaming</a></li>
                    </ul>
                </div>
                <div class="col-6 col-md">
                    <h5>About</h5>
                    <ul class="list-unstyled text-small">
                        <li><a class="text-muted" href="/company">Team</a></li>
                        <li><a class="text-muted" href="">Locations</a></li>
                        <li><a class="text-muted" href="">Privacy</a></li>
                        <li><a class="text-muted" href="">Terms</a></li>
                    </ul>
                </div>
            </div>
        </footer>

    </div>
</div>

<!-- Keep JS at the bottom! -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<script th:src="@{/js/holder.min.js}"></script>
<script th:src="@{/js/popper.min.js}"></script>
<script>
    Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
    });
</script>

</body>
</html>
