<div th:fragment="navbar(user)">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <!-- Brand/logo -->
            <a class="navbar-brand" href="/landing">
                <img class="" th:src="@{/image/Bluemoon_Logo_Transparent.png}" style="width: 80px;" alt="Bluemoon">
            </a>

            <!-- Toggle button for mobile view -->
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navigation -->
            <div class="collapse navbar-collapse" id="navbarNav">
                <!-- Navigation Buttons -->
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/app" style="font-size: 18pt;">Bluemoon App</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/uguinformatica" style="font-size: 18pt;">Ugú Informática</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contact" style="font-size: 18pt;">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
